{% extends "base.html" %}
{% load static %}

{% block title %}Результат поиска{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Результат</a></h1>
        </div>
        {% for elem in page %}
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{book.name}}</h2>
                <p>Автор: {{book.author}}</p>
                <p>Дата публикации: {{book.pub_date}}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% if previous %}
        <a href="{% url 'book_view' pub_date=previous %}">{{previous}}</a>
        {% endif %}
        {% if next %}
        <a href="{% url 'book_view' pub_date=next %}">{{next}}</a>
        {% endif %}
    </div>
{% endblock %}
